.GameContainerWrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("../../public/bg.webp");
  background-size: cover;
  background-position: center;
}
.GameContainer {
  display: grid;
  grid-template-rows: 45px 190px 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.GameContainer .pokeA.name,
.pokeB.name {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  grid-row-start: 1;
  border-radius: 10px;
  padding-top: 8px;
}
.GameContainer .pokeA {
  grid-column-start: 2;
}
.GameContainer .pokeB {
  grid-column-start: 4;
}
.GameContainer #rounds {
  margin: auto;
  padding: 12px;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  grid-row-start: 1;
  grid-column-start: 3;
}
.GameContainer #attack {
  border: 1px solid red;
}
.GameContainer #sattack {
  grid-row-start: 1;
  grid-column-start: 4;
}
.GameContainer > .poke img {
  padding: 0;
  margin: 0;
  width: 320px;
  animation: fadein 1s;
}
.GameContainer > .actions {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-gap: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  animation: fadein 1s;
}
.GameContainer .hpbar {
  color: black !important;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
}
.GameContainer > .actions button {
  color: white;
}
.GameContainer > .actions button:hover {
  border: 1px solid darkgrey;
}
.GameContainer > .actions #attack {
  background-color: rgb(192, 44, 44);
}
.GameContainer > .actions #sattack {
  background-color: rgb(156, 37, 235);
}
.GameContainer > .actions #stopfight {
  margin-top: 5px;
  color: white;
  background-color: rgb(222, 59, 255);
  grid-column-start: 3;
  grid-row-start: 4;
}
.GameContainer > .poke > .actions > .singlestat {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.GameContainer > .poke > .stats {
  padding: 10px;
  margin-top: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.GameContainer > .poke > .actions button {
  margin: 3px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.GameContainer .singlestat {
  margin: 3px;
  padding: 0px 30px 2px 30px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.GameContainer .name {
  margin: 3px;
  padding: 0px 30px 2px 30px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.GameContainer > .poke > .stats label {
  background-color: #26751b;
  padding: 5px;
  border: 1px solid white;
  border-radius: 100vh;
}
.GameContainer > .poke > .stats progress {
  /*reset to default appearance*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
}
.GameContainer > .poke > .stats progress[value] {
  color: white;
  font-size: 20px;
}
.GameContainer > .poke > .stats progress::-webkit-progress-bar {
  background: rgb(132, 165, 132);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
  border-radius: 20px;
}
/*style for progress track*/
.GameContainer > .poke > .stats progress::-webkit-progress-value {
  background-image: linear-gradient(120deg, #ffd173 0, #18cc00 55%);
  border-radius: 20px;
}
.GameContainer > #pokeA {
  grid-column-start: 2;
  grid-row-start: 2;
}
.GameContainer > #pokeB {
  grid-column-start: 4;
  grid-row-start: 2;
}
.GameContainer > #fight {
  margin-top: 5px;
  color: white;
  background-color: purple;
  grid-column-start: 3;
  grid-row-start: 3;
}
.winnerModal .modal-content .modal-header {
  color: white;
  background-color: rgb(159, 27, 211);
  justify-content: center;
}
.winnerModal .modal-content .modal-body {
  color: white;
  background-color: rgb(236, 73, 23);
  text-align: center;
  font-size: 1.5em;
}
.winnerModal .modal-content .modal-footer {
  color: white;
  background-color: rgb(233, 41, 41);
}
.countdownModal .modal-content .modal-header .modal-title {
  text-align: center;
}
.countdownModal .modal-content .modal-header {
  text-align: center;
  color: white;
  background-color: rgb(206, 177, 14);
}
.countdownModal .modal-content .modal-body {
  text-align: center;
  color: white;
  background-color: rgb(236, 73, 23);
}
.countdownModal .modal-content .modal-footer {
  text-align: center;
  color: white;
  background-color: rgb(233, 41, 41);
}
/* ANIMATONS */
@keyframes pulseWarning {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(200, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@keyframes pulseOk {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(0, 200, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.hide {
  visibility: hidden;
}
.disabled {
  filter: grayscale(100%) opacity(0.5) drop-shadow(2px 4px 6px black);
}
.warning {
  animation: pulseWarning 1s infinite ease-in-out;
}
.ok {
  animation: pulseOk 1s infinite ease-in-out;
}
.wobble {
  animation: wobble 0.5s infinite linear;
}
img {
  filter: drop-shadow(2px 4px 6px black);
}
