.ScoreBoardWrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("stadium.webp");
  background-size: cover;
  background-position: center;
}

.ScoreContainer {
  background-color: black;
}
