.SelectContainerWrapper {
	min-height: 100vh;
	width: 100vw;
	background-image: url("../../public/bg.webp");
	background-size: cover;
	background-position: center;
}
.HomeContainerWrapper {
	min-height: 100vh;
	width: 100vw;
	background-image: url("../../public/home_bg.webp");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav a {
	text-decoration: none;
	width: 200px;
	height: 75px;
	border-radius: 100px;
	color: #f9f9f9;
	background-image: linear-gradient(
		to bottom left in oklab,
		oklch(55% 0.45 350) 0%,
		oklch(100% 0.4 95) 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo a:hover img {
filter: drop-shadow(0px 0px 20px rgb(27, 134, 206));
}
.nav a:hover {
	color: #f9f9f9;
	box-shadow: inset 2px 2px 20px #ffffff;
}
.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin: 3rem;
}

.selection-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;
	width: 100%;
	max-width: 1280px;
	margin: auto;
	text-align: left;
}
.btn-sel {
	place-self: center;
}
.card {
	padding: 1rem 2rem 2rem !important;
	background-image: url(../../public/card-bg.webp);
	background-position: center;
	background-size: cover;
}
.card-ul {
	list-style: none;
	margin: 0;
	color: #f9f9f9;
	text-shadow: 0 0 3px black;
}
.card-title {
	text-align: center;
	font-size: 1.5rem !important;
	color: #f9f9f9 !important;
  text-shadow: 0 0 3px black;
}
.card-img-top{
  max-width: 75%;
  margin: auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.76));
}
.card p {
	margin: 0;
	font-weight: 700;
	color: #f9f9f9;
	text-shadow: 0 0 3px black;
}
.ul-span {
	font-weight: 500;
}

.typeIcon {
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.554));
	margin-right: 0.5em;
	width: 17px;
}
.stats {
	padding: 0;
	margin: 0;
}
.stats li {
	padding: 2px 15px;
	margin: 5px auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: solid 1px rgba(0, 0, 0, 0.349);
	border-radius: 50px;
}
.hp {
	background-color: rgb(2, 122, 2);
}
.atk {
	background-color: rgb(156, 21, 21);
}
.def {
	background-color: rgb(29, 29, 121);
}
.satk {
	background-color: rgb(240, 181, 70);
}
.sdef {
	background-color: rgb(86, 193, 182);
}
.spd {
	background-color: rgb(67, 167, 206);
}
.carousel {
	width: 45% !important;
	min-height: 750px;
	margin: 0.5rem 0 2rem;
}
.card {
	margin: auto;
}
.carousel-indicators {
	max-width: 290px !important;
	margin: auto;
}
